Olá <%=@resource.name%>!
<p>Segue abaixo a sua nova senha para acesso ao Aplicativo!</p>
<p><b><%=@password%></b></p>
<p>Para sua segurança, troque-a  após o primeiro acesso.<p>
<p>Atenciosamente,</p>
<p>Equipe Barragem.</p>
